 <div class="user-details">
  <h1> Experience </h1>
  <p> {{site.user_description}} </p>
</div>
  <div>
    <h2>Software Engineer – III</h2>          
    <h3><b>CISCO Systems</b> | Bangalore | 2018 - Present</h3>
<p>
•	Achieved a 100% increase in I/O data rate and enabled line-rate analytics by developing new family of FC switches equipped with ASICs, supporting throughput up to 64 Gbps. Development includes writing platform-specific applications, user and kernel space drivers supporting interrupts, DMA, CLIs, APIs etc. and ultimately packaging them into a comprehensive image. 
•	Designed scalable, testable system calls in the network OS for SAN FC switches to streamline access to critical hardware functionalities from user-space applications which resulted in 33% reductions in execution time.
•	Optimized hardware integration through development of kernel drivers for FPGAs with x86 CPU PCIe endpoints, handling I2C controller functions, interrupts, secure boot, NVRAM access, power management etc.
</p>
</div>
<div>
    <h2>Software Engineer – II</h2>          
    <h3><b>Polaris Networks</b> | Kolkata | 2015 - 2018</h3>
    <p>
•	Led the development of high-speed datapath (up to 10G line rate) in EPC Core for 4G networks, focusing on Linux kernel network protocol processing and packet forwarding.
•	Designed and developed L3/L4 layer functionalities, including connection tracking, NAT, and packet fragmentation/reassembly, in user-space using Intel's DPDK libraries.

    </p>
</div>
<div>
    <h2>Software Developer Intern</h2>          
    <h3><b>NeoGen Labs </b> | Bangalore | 2014</h3>
    <p>
      Created mobile application for android and windows platform to get information about various tests, request reports/kits or order a test take appointment.[URL] 
    </p>
</div>
<!---
</div>
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
-->